@charset "UTF-8";
/* CSS Document */


p{ color:rgba(145,145,145,1.00);
size:15px;}

table{ size:20px}

.background_picture{
	background: url(../imgs/forms_background.png);
	  width: 1440px;
	height: 880px;
            max-height: 100%;
            margin: 0;
            padding: 0;
            background-size:100% 100%;
            background-repeat: no-repeat;
	
	display:flex;
    display: -webkit-flex; 
    align-items:center;
	}

.ABposition{
	position:absolute
	}
.container_main{
	height: 684px;
	border-radius: 4px;
	background-color: #ecebf0;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 6px 0 rgba(0, 0, 0, 0.22);
	 float:left;
}


.container_main_s{
	height: 550px;
	border-radius: 4px;
	background-color: #ecebf0;
	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.19), 0 6px 6px 0 rgba(0, 0, 0, 0.22);
	 float:left;
}



.container_main_size2 .container_form_size2 {
	width:850px;}

.container_main_size3 .container_form_size3{ 
width:1000px;}



.container_leftarrow{
	height: 484px;
	width:80px;
	float:left;
	background:rgba(244,234,234,1.00);
	float:left;}
	
.container_rightattow{
	height: 484px;
	width:80px;
	background:rgba(248,27,31,1.00);
	 float:left;}
	
.container_form{
	
	height: 484px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
	}
.container_form_s{
	height: 350px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
	}
.form{
	background-color:#FFFFFF;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0.23);
	float:left;
	
	}

.form_size1{
	width: 350px;
	height: 250px;
	margin:35px;
	}

.form_size2{
	width: 320px;
	height: 420px;
	margin:50px;
	}
.form_size3{
	width: 280px;
	height: 420px;
	margin:25px;
	}
	


 

.container_banner{
	width:auto;
	height:200px;	
	}
.container_banner_edu{
	background-image:url(../imgs/map_banner.png);
	}
.container_banner_work{background-image:url(../imgs/work_banner.png);}
.container_banner_activity{ background-image:url(../imgs/activity_banner.png)}


.banner_text{
	width:500px;
	height:50px;
	padding:60px;
	color:#FFFFFF;
	
	
	}
	
.arrows{
	font-size:50px;
	width:60px;
	height:60px;
	
	}
	
 .arrow_left{
	 float:left;
 }



.banner_button{
	background:rgba(0,0,0,0.00);
	color:#FFFFFF;
	border-color:#FFFFFF;
	margin-right:30px;
	width:70px;

	
}

/*pop up forms*/

.container_popform{
	width:420px;
	height:600px;
	background-color:#F4C9C9;
	padding:20px;
	position:absolute;
	overflow:hidden;
	margin-left:35%;
	margin-top:10%;
	
	}


.form_Name{
	font-size:28px;}

.form_subName_small{
	font-size:15px;
}
.form_subName_large{
	font-size:20px;}
	
	
.one_in_a_row{
	height:30px;
	width:400px;
	margin:3px;
	}
.two_in_a_row{
	height:30px;
	width:180px;
	margin:1px;
	}











/* Alignment */
.alignleft {
 display: inline;
 float: left;
}
.alignright {
 display: inline;
 float: right;
}
.aligncenter {
 clear: both;
 display: block;
 margin:auto;
}		
